.createContainer {
	padding: 100px 120px;
}

.innerContainer {
	padding: 70px 70px 20px 70px;
	background-color: white;
	box-shadow: 0 0px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.10);
}

.centerBox {
	margin:0 auto;
	width:100%;
}

.mainContainer {
	padding: 20px 50px;
}

.style1 {
	border-top: 1px solid #999999;
	border-bottom: 1px solid ##999999;
}

.minorText {
	color: #999999;
}

.navGrad {
  background: #0f0c29;
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
}

.collBg {
	background:#0f0c29;
}

.jumbotron {
	background: white;
	border-bottom: 1px solid lightgray;
}

.fileItem {
	margin:5px;
	padding:10px;
	background: white;
	border:1px solid lightgray;
	box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 2px 2px rgba(0,0,0,0.05);
	text-align: center;
	color: gray;
}

.colorCard {
	background: lightgray;
}